aiohttp==3.8.6
aiohttp-devtools==1.1
aiohttp-jinja2==1.5.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.0.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.2
charset-normalizer==3.3.2
click==8.1.7
deprecation==2.1.0
devtools==0.12.2
dnspython==2.6.1
exceptiongroup==1.1.3
executing==2.0.1
frozenlist==1.4.0
grpcio==1.63.0
grpcio-tools==1.59.2
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mkl-service==2.4.0
motor==3.4.0
multidict==6.0.4
numpy==1.24.4
packaging==23.2
pluggy==1.4.0
protobuf==4.25.3
py==1.11.0
pydantic==1.9.1
pydantic_core==2.16.3
Pygments==2.16.1
pymongo==4.7.0
pytest==7.1.2
pytest-asyncio==0.18.3
pytest-mock==3.7.0
python-dateutil==2.8.2
python-dotenv==1.0.1
scipy
six==1.16.0
sniffio==1.3.0
tinkoff==0.1.1
tinkoff-investments==0.2.0b98
tomli==2.0.1
typing_extensions==4.11.0
watchfiles==0.21.0
yarl==1.9.2
