body {
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); 
}

.information {
    display: flex;
    justify-content: center;
    margin: 3px;
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); /* Тёмный градиент */
    color: #fff;
    padding: 5px;
    padding-left: 15px;
}

.toolbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); /* Тёмный градиент */
    color: #fff;
    padding: 5px;
    padding-left: 15px;
}

.tabs {
    width: 65%;
}

.tab-links {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.tab-links .tab-link {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    background-color: #2b2b2b;
    color: silver;
    cursor: pointer;
}
.tab-links .tab-link.active {
    background-color: #3a3f4b;
    border-color: #4CAF50;
}
.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.active {
    display: block;
}

.btn {
    background-color: #4CAF50;
    text-align: center;
    min-width: 90px;
    border: none;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn:hover {
    background-color: #45a049; /* Темно-зеленый фон при наведении */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); /* Более заметная тень при наведении */
}

.stock-widget {
    font-family: 'Arial', sans-serif;
    font-size: 9pt;
    color: #fff;
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); /* Тёмный градиент */
    padding: 3px;
    margin: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.stock-widget table {
    width: 100%;
    border-collapse: collapse;
}

.stock-widget th, .stock-widget td {
    padding: 8px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

.stock-widget th:first-child, .stock-widget td:first-child {
    width: 5%;
}

.stock-widget th:last-child, .stock-widget td:last-child {
    width: 15%;
}


.stock-widget th:nth-child(3), .stock-widget td:nth-child(3) {
    text-align: left;
    width: 20%;
}

.stock-widget th:nth-child(4), .stock-widget td:nth-child(4) {
    width: 20%;
    text-align: right;
}


.stock-widget tr:hover {
    background-color: #444;
}


.orders {
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); /* Тёмный градиент */
    color: #abb2bf; /* светлый текст */
    padding: 20px;
    border-radius: 1px;
    width: 33%;
}

.orders label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.orders input[type="number"] {
    background: linear-gradient(to right, #3a3f4b, #1a1a1a); /* Тёмный градиент */
    color: #abb2bf; /* цвет текста */
    border: none;
    padding: 8px;
    border-radius: 4px;
    width: 100%; /* Полная ширина относительно контейнера */
    box-sizing: border-box; /* чтобы padding не изменял размеры */
    margin-bottom: 15px; /* отступ снизу */
}

.orders input[type="number"]::placeholder {
    color: #636d83; /* цвет placeholder */
}

.orders input[type="number"]:focus {
    outline: none;
    border: 2px solid #61afef; /* подсветка при фокусе */
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.red, .stock-widget tr.red:hover {
    background-color: rgb(255, 107, 53) !important; /* Насыщенный красный */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.green, .stock-widget tr.green:hover {
    background-color: darkseagreen !important; /* Насыщенный зелёный */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.blue {
    background-color: dodgerblue;

}

.yellow {
    background-color: goldenrod;
}

.yellow:hover {
    background-color: darkgoldenrod;
}


#balance {
    font-weight: bolder;
    font-size: 12pt;
    color: dodgerblue;
}

#exchange-timer {
    padding: 5px 10px;
    background: linear-gradient(to right, #240644, #09214a); /* Градиентный фон */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Небольшая тень для объема */
    display: inline-block;
    width: auto;
    transition: all 0.3s ease; /* Плавные изменения */
}

#status {
    display: inline-block;
    border-radius: 50%;
    width:15px;
    height: 15px;
    margin-right:5px;
}

#state-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 5px 7px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #343030;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 1px; /* Скругление углов */
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7); /* Светящийся текст */
    transition: all 0.3s ease; /* Плавный переход состояний */
    height: 155px;
    width: 35%;
}

#state-bar:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Увеличенная тень при наведении */
    transform: translateY(-1px); /* Подъем компонента при наведении */
    cursor: text;
}

#current-state {
    width: 100%;
    min-height: 100%;
    opacity: 0.9;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dodgerblue;
}

#order {
    width: 100%;
    color: #797979;
    height: 100%;
    padding: 3px;
    margin-top: 1px;
    margin-left: 20px;
}

#orders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    font-family: monospace;
    margin-left: 10px;
    border: 1px solid #35413a;
    padding: 6px;
    height: 153px;
    border-radius: 1px;
    color: seagreen;
}