body {
    background: linear-gradient(to right, #2b2b2b, #1a1a1a); 
}

label {
    font-size: 11pt !important;
}

.information {
    display: flex;
    justify-content: center;
    margin: 3px;
    background: linear-gradient(to right, #2b2b2b, #1a1a1a);
    color: #fff;
    padding: 5px;
    padding-left: 15px;
}

.toolbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    background: linear-gradient(to right, #2b2b2b, #1a1a1a);
    color: #fff;
    padding: 5px;
    padding-left: 15px;
}

.tabs {
    width: 65%;
}

.tab-links {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.tab-links .tab-link {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 5px;
    background-color: #2b2b2b;
    color: silver;
    cursor: pointer;
}
.tab-links .tab-link.active {
    background-color: #3a3f4b;
    border-color: #4CAF50;
}
.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.active {
    display: block;
}

.btn {
    background-color: #4CAF50;
    text-align: center;
    min-width: 90px;
    max-height: 25px;
    border: none;
    font-weight: bolder;
    color: rgba(22, 20, 20, 0.841);
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.balance {
    color: #abb2bf;
    padding: 5px 7px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #343030;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 1px;
    margin-top: 5px;
    font-size: 19pt;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.balance, .balance div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.stock-widget {
    font-family: 'Arial', sans-serif;
    font-size: 9pt;
    color: rgb(148, 157, 161);
    background: linear-gradient(to right, #2b2b2b, #1a1a1a);
    padding: 3px;
    margin: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.stock-widget table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1;
    font-size: 9pt;
}

.stock-widget th {
    padding: 2.5px;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #333;
    color: silver;
    font-weight: bolder;
}

.stock-widget td {
    padding: 2.5px;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #333 !important;
    transition: transform 0.3s ease;
}

.stock-widget th:first-child, .stock-widget td:first-child {
    width: 5%;
    text-align: center;
}

.stock-widget th:last-child, .stock-widget td:last-child {
    width: 10%;
    text-align: right !important;

}

.stock-widget th:nth-child(3), .stock-widget td:nth-child(3) {
    text-align: center;
    width: 20%;
    opacity: 0.6;
}

.stock-widget th:nth-child(4), .stock-widget td:nth-child(4) {
    text-align: center;
}

.stock-widget td:nth-child(4), .stock-widget td:nth-child(4) {
    font-weight: bold;
}

.stock-widget td:nth-child(5), .stock-widget td:nth-child(5), .stock-widget th:nth-child(5) {
    text-align: center;
}

.stock-widget tr:hover {
    background-color: #444;
}

.stock-widget table td {
    line-height: 1;
    height: 5px;
}

.orders {
    background: linear-gradient(to right, #2b2b2b, #1a1a1a);
    color: lightslategrey;
    padding: 20px;
    border-radius: 1px;
    width: 33%;
}

.orders label {
    display: block;
    margin-bottom: 5px;
    font-size: 9pt !important;
    text-align: right;
}

.orders input[type="number"] {
    background: linear-gradient(to right, #3a3f4b, #1a1a1a);
    color: lightslategrey;
    border: none;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.orders input[type="number"]::placeholder {
    color: #636d83;
}

.orders input[type="number"]:focus {
    outline: none;
    border: 2px solid #61afef;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parameter {
    flex: 0 0 48%;
    margin-bottom: 20px;
}

.slider {
    width: 100%;
    margin-top: 5px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.red-font {
    color: rgb(255, 107, 53) !important;
    transition: color 0.3s ease, transform 0.3s ease;
}

.green-font {
    color: darkseagreen !important;
    transition: color 0.3s ease, transform 0.3s ease;
}

.red, .stock-widget tr.red:hover {
    background-color: rgb(255, 107, 53) !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.green, .stock-widget tr.green:hover {
    background-color: darkseagreen !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.blue {
    background-color: dodgerblue;

}

.yellow {
    background-color: goldenrod;
}

.yellow:hover {
    background-color: darkgoldenrod;
}


#balance {
    font-weight: bold;
    font-size: 17pt;
    color: goldenrod;
    margin-top: -3px;
}

#sec-balance {
    font-weight: bold;
    font-size: 17pt;
    color: darkgoldenrod;
    margin-top: -3px;
}

#total-balance {
    font-weight: bolder;
    font-size: 21pt;
    color: #3b5b07;
    margin-top: -3px;
}


#exchange-timer {
    padding: 5px 10px;
    background: linear-gradient(to right, #240644, #09214a);
    color: #abb2bf;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: auto;
    transition: all 0.3s ease;
}

#status {
    display: inline-block;
    border-radius: 50%;
    width:15px;
    height: 15px;
    margin-right:5px;
}

#state-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 5px 7px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #343030;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
    height: 155px;
}

#state-bar:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-1px);
    cursor: text;
}

#current-state {
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dodgerblue !important;
}

#order {
    width: 100%;
    color: #797979;
    height: 100%;
    padding: 3px;
    margin-top: 1px;
    margin-left: 20px;
}

#orders {
    display: flex;
    overflow-y: scroll;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    font-family: monospace;
    margin-left: 10px;
    border: 1px solid #35413a;
    padding: 6px;
    height: 153px;
    border-radius: 1px;
    color: seagreen;
    height: 300px;
}

#orders::-webkit-scrollbar {
    width: 8px;
}

#orders::-webkit-scrollbar-track {
    background: #2b2b2b;
}

#orders::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
}

#orders-table {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    color: silver;
    border: 1px solid #35413a;
    text-align: center;
}

#intervalDisplay {
    font-size: 9pt;
    font-weight: bolder;
    color: steelblue;
}

#intervalStoring {
    font-size: 9pt;
    font-weight: bolder;
    color: darkolivegreen;
}

#db-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222; 
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#total-quotes {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #eee;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#date-range {
    font-size: 10px;
    color: #5b9d63;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#analytics-settings {
    display: none;
}

#accordion {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    color: #abb2bf;
    cursor: pointer;
    font-size: 14pt;
    opacity: 0.8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99.5%;
    height: 2vh;
    background-color: #1d0d2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0.5px 0.5px 1px #794aa8;
    cursor: crosshair;
}