<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Widget</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="static/css/data-tables.css" />
  </head>

  <body>
    <div class="content">
      <div class="toolbox">
        <div>
          <span id="status" class="red">&nbsp;</span>[<code id="tariff"></code>]
          <br />
          <b>БАЛАНС</b>: <code id="balance">{{ balance }}</code> RUB
        </div>
        <div>
          <button class="btn" id="delete-acc">🔨 Удалить</button>
          <button class="btn" id="open-acc">🚀 Открыть</button>
          <button class="btn" id="add-money">💰 Пополнить</button>
          <button class="btn yellow" id="generate-data">🌪 Заполнить</button>
        </div>
        <div id="exchange-timer">Загрузка времени...</div>
      </div>
      <div id="stock-widget" class="stock-widget">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Securities</th>
              <th>Analytics</th>
              <th>Ticker</th>
              <th style="text-align: center;">Price (RUB)</th>
            </tr>
          </thead>
          <tbody>
            <!-- Данные будут добавляться сюда динамически -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="information">
      <div class="tabs">
        <ul class="tab-links"></ul>
        <div class="tab-content"></div>
      </div>
      <div class="orders">
        <label for="sl">Stop Loss</label>
        <input type="number" id="sl" value="0.25" placeholder="%" />
        <label for="tp">Take Profit</label>
        <input type="number" id="tp" value="0.15" placeholder="%" />
        <br /><br />
        <button style="float: right; margin-top: 50px;" class="btn blue" id="start">Start Bot</button>
      </div>
    </div>
    <div class="stats">
      <div id="state-bar">
        <span id="current-state"></span>
      </div>
      <div id="orders">
        <table id="orders-table">
          <thead>
            <tr>
              <th>FIGI</th>
              <th>Ticker</th>
              <th>Price</th>
              <th>Operation</th>
              <th>Quantity</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let isBotStarted = false;
      let marketDataIntervalId;
      const instruments = {{ instruments|tojson }};
      const token = "{{ token }}";
      const botToken = "{{ bot_token }}";
      const chatId = "{{ chat_id }}";
      const protocols = ['json', token];
      const figiList = {{ figi_list|tojson }};
      const chartInstances = {};

      const balance = $("#balance");
      const currentState =  $('current-state');

      const checkRowsAndShowButton = () => {
        const rowCount = $('#stock-widget table tr').length - 1
        if (rowCount === instruments.length) {
          $('#start').css('display', 'block')
          $('#current-state').html('Ready to start').css('color', 'green')
          clearInterval(intervalId)
        } else {
          $('#start').css('display', 'none')
          $('#current-state').html('Loading...').css('color', 'dodgerblue')
        }
      }
      const intervalId = setInterval(checkRowsAndShowButton, 1000)

      // Установка и удаление интервала отправки данных на сервер
      const sendMarketDataWithInterval = () => {
        if (marketDataIntervalId) clearInterval(marketDataIntervalId);
        marketDataIntervalId = setInterval(() => {
            sendMarketData($('#sl').val(), $('#tp').val());
            loadSecurities();
        }, 10000);
      }

      const stopSendingMarketData = () => {
          if (marketDataIntervalId) {
              clearInterval(marketDataIntervalId);
              marketDataIntervalId = null;
              console.log("Отправка данных на сервер остановлена.");
          }
      }
    </script>

    <script src="/static/js/db.js"></script>
    <script src="/static/js/bot.js"></script>
    <script src="/static/js/event_handlers.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/sock.js"></script>
    <script src="/static/js/toolbox.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/analyse.js"></script>
    <script src="/static/js/securities.js"></script>

    <script>
        // websocket
        const ws = new WebSocket(
            'wss://invest-public-api.tinkoff.ru/ws/tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataStream',
            protocols
        );

        $(document).ready(function () {
          fetchAllTickerData().then(dataByTicker => {
              createCharts(dataByTicker);
          }).catch(error => {
              console.error('Error creating charts:', error);
          });

          balance.css('cursor', 'pointer');
          $('#start').css('display', 'none');

          balance.click(() => refreshBalance());
          
          setInterval(refreshBalance, 10000);
          setInterval(refreshSecurities, 10000);

          $('#generate-data').click(() => generateData() && window.location.reload());
          loadSecurities();
        })
    </script>
  </body>
</html>
