<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Miner</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="static/css/data-tables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
  </head>

  <body>
    <div class="content">
      <div class="toolbox">
        <div>
          <span id="status" class="red">&nbsp;</span>[<code id="tariff"></code>]<div id="acc-id"></div>
        </div>
        <div>
          <button class="btn" id="delete-acc">🔨 Reload</button>
          <button class="btn yellow" id="generate-data">🛒 Fill db</button>
          <button class="btn yellow" id="clear-data">🚽 Clear db</button>
        </div>
        <div id="db-counter">
          <div id="total-quotes"></div>
          <div id="date-range"></div>
        </div>
        <div id="exchange-timer">Загрузка времени...</div>
      </div>
      <div id="stock-widget" class="stock-widget">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Securities</th>
              <th>Analytics</th>
              <th>Ticker</th>
              <th style="text-align: center;">Price (RUB)</th>
              <th style="text-align: right;">Change (RUB)</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="information">
      <div class="tabs">
        <ul class="tab-links"></ul>
        <div class="tab-content"></div>
      </div>
      <div class="orders">
        <label for="sl">Stop Loss</label>
        <input type="number" id="sl" value="0.23" placeholder="%" />
        <label for="tp">Take Profit</label>
        <input type="number" id="tp" value="0.17" placeholder="%" />
        <div id="accordion">
          <i class="fas fa-chevron-down"></i>
        </div>
        <div id="analytics-settings">
          <label for="intervalSlider">Market data interval:</label>
          <input type="range" id="intervalSlider" min="5" max="60" value="7" class="slider" />
          <div id="intervalDisplay">7 sec</div>

          <label for="hoursToStore">Minutes to store:</label>
          <input type="range" id="hoursToStore" min="3" max="10" value="10" class="slider" />
          <div id="intervalStoring">10 min</div>
          <div class="parameters">
            <!-- SMA -->
            <div class="parameter">
              <label for="smaSlider">SMA Window Size:</label>
              <input type="range" id="smaSlider" min="8" max="100" value="60" class="slider" />
              <span id="smaValue">60 items</span>
            </div>

            <!-- EMA -->
            <div class="parameter">
              <label for="emaSlider">EMA Period:</label>
              <input type="range" id="emaSlider" min="8" max="100" value="60" class="slider" />
              <span id="emaValue">60 items</span>
            </div>

            <!-- WMA -->
            <div class="parameter">
              <label for="wmaSlider">WMA Window Size:</label>
              <input type="range" id="wmaSlider" min="8" max="100" value="60" class="slider" />
              <span id="wmaValue">60 items</span>
            </div>

            <!-- RSI -->
            <div class="parameter">
              <label for="rsiSlider">RSI Period:</label>
              <input type="range" id="rsiSlider" min="14" max="200" value="48" class="slider" />
              <span id="rsiValue">48 items</span>
            </div>
          </div>
        </div>
        <div class="flex-center">
          <div class="toggle-container">
            <input type="checkbox" id="toggle" class="toggle-input" />
            <label for="toggle" class="toggle-label">Reverse mode</label>
          </div>
          <button style="float: right; margin-top: 5px;" class="btn blue" id="start">Start Bot</button>
        </div>
      </div>
    </div>
    <div class="stats">
      <div class="left">
        <div id="state-bar">
          <span id="current-state"></span>
        </div>
        <div class="balance">
          <div>
            <code id="balance">{{ balance }}</code> <span style="margin-left: 5px;">RUB</span>
          </div>
          <div>
            <code id="sec-balance">0</code> <span style="margin-left: 5px;">RUB</span>
          </div>
          <div>
            <code id="total-balance">0</code> <span style="margin-left: 5px;">RUB</span>
          </div>
        </div>
      </div>
      <div id="orders">
        <table id="orders-table">
          <thead>
            <tr>
              <th>FIGI</th>
              <th>Ticker</th>
              <th>Price</th>
              <th>Operation</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div id="footer">
      <div id="global-profit">0 RUB</div>
      <div id="global-profit-percent">0 %</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="/static/js/libraries/chart.js"></script>

    <script>
      let isBotStarted = false;
      let marketDataIntervalId;
      let marketDataInterval = 6000;
      let hoursToStore = 1;
      const instruments = {{ instruments|tojson }};
      const token = "{{ token }}";
      const botToken = "{{ bot_token }}";
      const chatId = "{{ chat_id }}";
      const protocols = ['json', token];
      const figiList = {{ figi_list|tojson }};
      const chartInstances = {};

      let smaWindowSize = 10;
      let emaPeriod = 10;
      let wmaWindowSize = 10;
      let rsiPeriod = 14;
      let isReverse = false;

      const balance = $("#balance");
      const currentState =  $('current-state');

      function setupAutomaticUpdates() {
        setInterval(() => {
            countQuotes();
            getDateRange();
        }, 1000);
    }

      const checkRowsAndShowButton = () => {
        const rowCount = $('#stock-widget table tr').length - 1
        if (rowCount === instruments.length) {
          $('#start').css('display', 'block')
          $('#current-state').html('Ready to start').css('color', 'green')
          clearInterval(intervalId)
        } else {
          $('#start').css('display', 'none')
          $('#current-state').html('Loading...').css('color', 'dodgerblue')
        }
      }
      const intervalId = setInterval(checkRowsAndShowButton, 3000)

      
      $('#intervalSlider').on('input', function() {
        marketDataInterval = $(this).val() * 1000;
        $('#intervalDisplay').text($(this).val() + ' sec');
      });
      $('#hoursToStore').on('input', function() {
        hoursToStore = $(this).val();
        $('#intervalStoring').text($(this).val() + ' min');
      });
    </script>

    <script src="/static/js/db.js"></script>
    <script src="/static/js/bot.js"></script>
    <script src="/static/js/event_handlers.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/sock.js"></script>
    <script src="/static/js/toolbox.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/analyse.js"></script>
    <script src="/static/js/securities.js"></script>

    <script>
        // websocket
        const ws = new WebSocket(
            'wss://invest-public-api.tinkoff.ru/ws/tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataStream',
            protocols
        );

        $(document).ready(function () {
          // Установка и удаление интервала отправки данных на сервер
          const sendMarketDataWithInterval = () => {
            if (marketDataIntervalId) clearInterval(marketDataIntervalId);
          
            marketDataIntervalId = setInterval(() => {
              sendMarketData($('#sl').val(), $('#tp').val(), isReverse);
              deleteOldQuotes();
              const analyzePromise = analyzeAllTickers();

              instruments.forEach(instrument => {
                const stockRow = $(`#stock-${instrument.ticker}`);
                analyzePromise.then(analyze => {
                    stockRow.find('td:eq(3)').text(
                        `${analyze[instrument.ticker] || 50} %`
                    );
                });
            });
            }, marketDataInterval);
          };

          const stopSendingMarketData = () => {
            if (marketDataIntervalId) {
                clearInterval(marketDataIntervalId);
                marketDataIntervalId = null;
                console.log("Отправка данных на сервер остановлена.");
            }
          }

          fetchAllTickerData().then(dataByTicker => {
              createCharts(dataByTicker);
          }).catch(error => {
              console.error('Error creating charts:', error);
          });

          $('#start').on('click', () => {
            currentState.html('Loading...').css('color', 'darkseagreen');
            loadOrders();
            startBot(sendMarketDataWithInterval, stopSendingMarketData);
          })
    

          const secBalance = $('#sec-balance');
          const totalBalance = $('#total-balance');

          balance.css('cursor', 'pointer');
          $('#start').css('display', 'none');

          balance.on('DOMSubtreeModified', function() {
            totalBalance.text(
              parseFloat(
                parseFloat(balance.text()) + parseFloat(secBalance.text())
              ).toFixed(2)
            );
          });
          secBalance.on('DOMSubtreeModified', function() {
            totalBalance.text(
              parseFloat(
                parseFloat(balance.text()) + parseFloat(secBalance.text())
              ).toFixed(2)
            );
          });
          balance.click(() => refreshBalance());

          $('#generate-data').click(() => generateData() && window.location.reload());
          $('#clear-data').on('click', () => {
            deleteOldQuotes();
          });
          deleteOldQuotes();
          const rsiValue = $('#rsiValue');
          const smaValue = $('#smaValue');
          const emaValue = $('#emaValue');
          const wmaValue = $('#wmaValue');

          smaValue.css('font-size', '7pt');
          rsiValue.css('font-size', '7pt');
          emaValue.css('font-size', '7pt');
          wmaValue.css('font-size', '7pt');

          $('#smaSlider').on('input', function() {
              smaWindowSize = parseInt($(this).val());
              smaValue.text(smaWindowSize) + "items";
              smaValue.css('font-size', '7pt')
          });
      
          $('#emaSlider').on('input', function() {
              emaPeriod = parseInt($(this).val());
              emaValue.text(emaPeriod) + "items";
              emaValue.css('font-size', '7pt')
          });
      
          $('#wmaSlider').on('input', function() {
              wmaWindowSize = parseInt($(this).val());
              wmaValue.text(wmaWindowSize) + "items";
              wmaValue.css('font-size', '7pt')
          });
      
          $('#rsiSlider').on('input', function() {
              rsiPeriod = parseInt($(this).val());
              rsiValue.text(rsiPeriod) + "items";
          });

          $('#accordion').click(function() {
            $('#analytics-settings').toggle();
            let icon = $(this).find('i');
            if (icon.hasClass('fa-chevron-down')) {
                icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
            } else {
                icon.removeClass('fa-chevron-up').addClass('fa-chevron-down');
            }
          });
          $('#orders-table tbody').on('click', 'tr', function() {
            let ticker = $(this).find('td:nth-child(2)').text();
            $('#orders-table tbody tr').removeClass('highlighted');
            $('#stock-widget tbody tr').removeClass('highlighted');
            $(`#stock-${ticker}`).addClass('highlighted'); 
        
            $('#orders-table tbody tr').each(function() {
                const currentTicker = $(this).find('td:nth-child(2)').text();
                if (currentTicker === ticker) {
                    $(this).toggleClass('highlighted'); 
                }
            });
          });
          $('#toggle').change(function() {
            isReverse = $(this).prop('checked');
            console.log('isReversed:', isReversed);
          });
        
          setupAutomaticUpdates();
        })
    </script>
  </body>
</html>
