<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Widget</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="stylesheet" href="static/css/data-tables.css" />
  </head>

  <body>
    <div class="content">
      <div class="toolbox">
        <div>
          <span id="status" class="red">&nbsp;</span>[<code id="tariff"></code>]
          <br />
          <b>БАЛАНС</b>: <code id="balance">{{ balance }}</code> RUB
        </div>
        <div>
          <button class="btn" id="delete-acc">🔨 Удалить аккаунты</button>
          <button class="btn" id="open-acc">🚀 Открыть аккаунт</button>
          <button class="btn" id="add-money">💰 Пополнить баланс</button>
        </div>
        <div id="exchange-timer">Загрузка времени...</div>
      </div>
      <div id="stock-widget" class="stock-widget">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>FIGI</th>
              <th>Securities</th>
              <th>Analytics</th>
              <th>Ticker</th>
              <th style="text-align: right">Price (RUB)</th>
            </tr>
          </thead>
          <tbody>
            <!-- Данные будут добавляться сюда динамически -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="tabs">
      <ul class="tab-links"></ul>
      <div class="tab-content"></div>
    </div>
    <div class="orders">
      <label for="sl">Stop Loss</label>
      <input type="number" id="sl" value="0" placeholder="%" />
      <label for="tp">Take Profit</label>
      <input type="number" id="tp" value="0" placeholder="%" />
      <button style="float: right;" class="btn" id="start">Start Bot</button>
      <br />
      <br />
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/db.js"></script>
    <script src="/static/js/bot.js"></script>
    <script src="/static/js/sock.js"></script>
    <script src="/static/js/toolbox.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/analyse.js"></script>
    <script src="/static/js/securities.js"></script>

    <script>
        const instruments = {{ instruments|tojson }};
        const token = "{{ token }}";
        const botToken = "{{ bot_token }}";
        const chatId = "{{ chat_id }}";
        const protocols = ['json', token];
        const figiList = {{ figi_list|tojson }};

        // websocket
        const ws = new WebSocket(
            'wss://invest-public-api.tinkoff.ru/ws/tinkoff.public.invest.api.contract.v1.MarketDataStreamService/MarketDataStream',
            protocols
        );

        $(document).ready(function () {
          fetchAllTickerData().then(dataByTicker => {
              createCharts(dataByTicker);
          }).catch(error => {
              console.error('Error creating charts:', error);
          });

          const balance = $("#balance");
          balance.css('cursor', 'pointer');
          balance.click(function() {
            $.ajax({
                url: '/get-balance',
                type: 'GET',
                success: function(response) {
                    console.log(response)
                    balance.text(response);
                },
                error: function(xhr, status, error) {
                    console.error("Произошла ошибка при получении баланса: " + error);
                }
            });
          });

          $(document).on('click', `[id^='stock-']`, function() {
            const ticker = this.id.replace('stock-', '');
            const tabButton = $(`.tab-link[data-target='chart-${ticker}']`);
            tabButton.click();
          });

          $(document).on('click', `[id^='stock-']`, function() {
            const ticker = this.id.replace('stock-', '');
            const tabButton = $(`.tab-link[data-target='chart-${ticker}']`);
            tabButton.click();
          });

          const start = $('#start');
          start.on('click', () => {
            $.ajax({
              url: '/start',
              type: 'GET',
              success: (response) => {
                  console.log('Торговый бот запущен');
                  if(start.html() === 'Stop Bot') {
                      $('#status').removeClass('green').addClass('red')
                      start.html('Start Bot');
                      start.css('background-color', 'darkseagreen')
                  } else {
                      $('#status').removeClass('red').addClass('green')
                      start.html('Stop Bot');
                      start.css('background-color', 'orangered')
                  }
              },
              error: (error) => {
                  console.log(error);
              }
          });
          })
        })
    </script>
  </body>
</html>
